---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Enlace Expirado">
  <main class="justify-center">
    <div class="text-center">
      <h1>¡Enlace Expirado!</h1>
      <p>Estamos redireccionándote a la página principal...</p>
    </div>
  </main>

  <script>
    setTimeout(() => {
      window.location.href = '/';
    }, 5000);
  </script>
</Layout>
