---
import { FlipWordsAcorta } from '@/components/FlipWordsAcorta';
import { FormSendURL } from '@/components/FormSendURL';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Acortador de URL's">
  <main>
    <div
      class="flex-1 max-w-screen-md mx-auto w-full h-full flex flex-col justify-start gap-8 pt-16"
    >
      <h1
        class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl tex2t-primary/80 dark:text2-primary/80"
      >
        Acorta tu URL fácilmente
      </h1>
      <FlipWordsAcorta client:load />
      <div class="max-w-screen-sm w-full flex justify-center mx-auto">
        <FormSendURL client:load />
      </div>
    </div>
  </main>
</Layout>
